@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}

*:focus {
  outline: none;
}

.screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 929px;
  height: 500px;
  transform: scale(0.7);
  margin-top: -240px;
  margin-left: -100px;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin: 20px;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transform: rotateX(240deg) rotateY(-5deg) rotateZ(-155deg);
}

.side {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: white;
  border: 1px solid black;
}
.top {
  transform: translateZ(-60px);
}
.front {
  transform: rotateX(90deg);
  transform-origin: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  width: 60px;
  transform: translateZ(-60px) rotateY(90deg);
  transform-origin: right;
}
.text {
  transform: rotateY(-945deg);
}

.right_side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2.5rem;
}

.title {
  color: white;
  font-size: 4rem;
  margin-bottom: 4rem;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 4rem;
}

.btn:hover {
  transform: scale(0.9);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
